# Virtual Environments 
venv*/
.env/
env/

# Mac OS junk files
.DS_Store

# Python Cache
__pycache__/
*.pyc

# Project Specific 
data/
temp_resized_*.png
*.txt

# Ignore temporary evaluation outputs if you saved them
predictions/
